.booking-grid {
  display: flex;
}

.booking-data {
  background-color: white;
  flex-grow: 0.4;
  margin: 30px;
}

.booking-layout-card {
  width: 500px;
}

.booking-btn {
  background-color: #2962ff;
  color: #fff;
  padding: 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}